<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cart | 购物车</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="/static/image/favicon.ico">

    <script>
        function submit_delete(goodsId) {
            document.getElementById(goodsId).action='/delete_cart/';
            document.getElementById(goodsId).submit();

        }
        function submit_buy(goodsId) {
            document.getElementById(goodsId).action='/buy_cart/';
            document.getElementById(goodsId).submit();
        }
    </script>

    <style>
        img.logo {
            width: 40px;
            height: 40px;
        }

        span.options {
            font-weight: bold;
        }

        label.navbar-text {
            font-weight: bold;
        }

        .carousel-inner img {
            width: 100%;
            height: 300px;
        }

        div.add {
            position: absolute;
            width: 850px;
            height: 500px;
            border: 1px solid darkgrey;
            box-shadow: darkgrey 0px 0px 30px 5px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -40%);
            margin: 0 auto;
            background-color: aliceblue;
        }
    </style>


</head>

<body style="background-color: chocolate;">
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-secondary navbar-light">
            <a class="navbar-brand" href="/homepage/"><img src="/static/image/favicon.ico" class="logo"></a>
            &nbsp;&nbsp;
            <ul class="navbar-nav">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                    <label class="navbar-text">{{ id }} {{ personal_info.name }} 欢迎您！</label>
                </li>
                <li class="nav-item">
                    <label class="navbar-text">购物车页面</label>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/homepage/"><span class="options">返回主页面</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="window.location.href='/logout/'"><span class="options">退出登录</span></a>
                </li>
            </ul>
        </nav>


        <div class="tab-content">
            <div id="cart_list" class="container tab-pane active"><br>
                <div class="col-sm-12">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>商品名称</th>
                                <th>商品数量</th>
                                <th>商品单价</th>
                                <th>删除商品</th>
                                <th>购买商品</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart in cartList %}
                            <form action='' method="POST" id={{cart.goods.id}}>
                                {% csrf_token %}
                                <tr>
                                    <th>{{ cart.goods.name }}</th>
                                    <th><input type="number" name="order_num" value={{cart.num}}
                                            style="width: 50px;"></th>
                                    <th>{{ cart.price }}<input type="text" name="delete_cart_goods_id" value={{cart.goods.id}} style="display: none;"></th>
                                    <th><input type="button" class="btn btn-secondary"
                                            onclick="submit_delete('{{cart.goods.id}}')"
                                            style="width: 60px;height: 30px;font-size: 10px;" value='删除'></th>
                                    <th><input type="button" class="btn btn-info"
                                            onclick="submit_buy('{{cart.goods.id}}')"
                                            style="width: 60px;height: 30px;font-size: 10px;" value='购买'></th>
                                </tr>
                            </form>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>


</body>

</html>